<h1>Übersicht Newsletter</h1>

<% if current_user.present? && (current_user.isAdmin || current_user.isManager) %>

    <div class="row">
    <div class="col-md-4">
      <strong>Newsletter Betreff</strong>
    </div>
    <div class="col-md-4">
      <strong>Zeitraum von</strong>
    </div>
    <div class="col-md-4">
      <strong>Zeitraum bis</strong>
    </div>
    </div>
    <% @newsletters.each do |newsletter| %>
    <div class="row">
      <div class="col-md-4">
        <strong><%= newsletter.subject %></strong>
      </div>
      <div class="col-md-4">
        <strong><%= newsletter.from.strftime("%d.%m.%Y") %></strong>
      </div>
      <div class="col-md-4">
        <strong><%= newsletter.to.strftime("%d.%m.%Y") %></strong>
      </div>
    </div>
    <% end %>
<br>
<% end %>

