<section class="panel panel-default">

  <% if current_user.present? && current_user.isManager %>

<div class="panel-heading">
  <strong>
    <span class="glyphicon glyphicon-th"></span>
    Neuen Newsletter erstellen
  </strong>
</div>


<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <%= render 'form' %>

    </div>
  </div>
</div>
</section>

      <% end %>

  <%= button_to_default 'Zurück', newsletters_path %>

