<!doctype html>
<html lang="de">
<head>
</head>
<style>
  #info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
</style>
<body>
<p id="info">Hi <%= @user.username %>,</p>
<p id="info">Die Löschung eines Kalendereintrags wurde angefordert.</p>

</body>
</html>


