<!doctype html>
<html lang="de">
<head>

</head>
<body>
<h3>Hi <%= @user.email %>,</h3>
<br>
<h3>Die Löschung eines Kalendereintrags wurde angefordert. Klicke hier um zu genehmigen</h3>

</body>
</html>


