<div class="panel-body">
<h3>Benutzer</h3>
      <table class="table">
        <tbody>
        <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
        <% end %>
        </tbody>
      </table>
</div>

