<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="expand" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Fachschaft</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Start</a></li>
        <li><a href="/fullcalendar/">Kalenderverwaltung</a></li>
        <li><a href="../">Userverwaltung</a></li>
        <li><a href="../newsletter">Newsletter</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
            <li>
              <%= link_to "Passwort ändern", edit_user_registration_path %>

            </li>
            <li><%= link_to_delete('Logout', destroy_user_session_path, false) %> </li>
        <% else %>
            <li>  <%= link_to("Einloggen", new_user_session_path) %></li>
            <li>      <%= link_to("Registrieren", new_user_registration_path) %></li>
        <% end %>


      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>