
<section class="panel panel-default">
  <a href="../fullcalendar/index.html.erb">
<div class="panel-heading">
  <strong>
    <span class="glyphicon glyphicon-th"></span>
    Kalendervorschau
  </strong>
</div>
  </a>

<div class="panel-body">
  <div class="row">
    <div class="col-md-12">
      <div id="calendar_prev">


      </div>

    </div>
  </div>
</div>
</section>