<div class="panel-heading">
  <h3>Übersicht</h3>
</div>
<div class="panel-body">

<%= render @event %>
      <p>
        Dieses Event ist <% if @event.parent.present? %>
         eine Revision von <%= link_to "diesem Eintrag", events_path(@event.parent) %>
            <% else %>
        ein eigenständiger Kalendereintrag.
        <%end %>
      </p>
<% render partial: "events/review_form", locals:{event: @event} %>

 </div>