<div class="panel-body">
  <h3>Newsletter</h3>
  <table class="table">
    <tbody>
    <% #@event.each do |event| %>
        <tr>
          <%= render event %>
        </tr>
    <% #end %>
    </tbody>
  </table>
</div>

