<%= bootstrap_form_for(@subscriber) do |f| %>

    <div class="field">
      <%= f.email_field :email, :class => 'form-control', :label => 'E-Mail' %>
    </div>

    <div class="form-actions">
      <%= f.submit "Abmelden" %>
    </div>



<% end %>
