<%= bootstrap_form_for @subscriber, method: :delete do |f| %>

    <div class="field">
      <%= f.email_field :email, :class => 'form-control', :label => 'E-Mail' %>
    </div>

    <div class="form-actions">
      <%= f.submit "Abmelden", :value => "Löschen"%>
    </div>

<% end %>
