<% if current_user.present? && current_user.isAdmin %>
<h1>Abonnent bearbeiten</h1>

<%= render 'form' %>

    <%= button_to_default 'Anzeigen', @subscriber %>

<% end %>

<%= button_to_default 'Zurück', subscribers_path %>


