<% if current_user.present? && current_user.isAdmin %>

<h4>Übersicht Abonnenten</h4>

    <div class="row">
      <div class="col-md-4">
        <strong>Name</strong>
      </div>
      <div class="col-md-4">
        <strong>E-Mail</strong>
      </div>
    </div>

  <% @subscribers.each do |subscriber| %>
  <div class="row">
    <div class="col-md-4">
      <strong><%= subscriber.name %></strong>
    </div>
    <div class="col-md-4">
      <strong><%= subscriber.email %></strong>
    </div>
    <div class="col-md-4">
      <strong><%= link_to 'Löschen', subscriber, method: :delete, data: { confirm: 'Bist du sicher' } %></strong>
    </div>
  </div>
  <%end%>
  <%end%>


<%= button_to_default 'Abonnent werden', new_subscriber_path %>

