<p>
  <strong>Name:</strong>
  <%= @subscriber.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @subscriber.email %>
</p>

<%= button_to_default 'Bearbeiten', edit_subscriber_path(@subscriber) %>
<%= button_to_default 'Zurück', subscribers_path %>

