<section class="panel panel-default">

    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span>
        Kalender
      </strong>
    </div>


  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div id="calendar_editable">

        </div>
      </div>
    </div>
  </div>
</section>