// Place all the styles related to the Calendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.fc-event {
  background-color: #c2ccab;
  border-color: #000000;
  color: #000000;
}
.fc-center{
  color: lightgray;
}